<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand"  href="/">
        <img src="/img/Guia.png">
    </a>
    <a class="navbar-brand" href="/perguntar">
        <Label id="lbl_perguntar">Perguntar</Label>
    </a>
</nav>